@font-face {
    font-family: FontExtraBold;
    src: url("../fonts/dosis-ex-bold.ttf");
}

html, body {
    background: #080813;
    margin: 0;
    padding: 0;
    transform: transale3d(0, 0, 0);
    width: 100%;
    height: 100%;
}

canvas {
    margin: auto;
}

#game {
    text-align: center;
}
